<aside class="sidebar">

    <div class="logo">
        <h2>영방과 기자재</h2>
    </div>
    <nav>
        <ul>
            <li class="menu-item">
                <a href="/">홈</a>
            </li>

            <li class="menu-item">
                <span class="menu-toggle">
                    기자재
                    <svg class="arrow" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M6 9L12 15L18 9" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </span>
                <ul class="submenu">    
                    <li><a href="/equipment">기자재 목록</a></li>
                    <li><a href="/equipment/status">대여 가능 현황</a></li>
                    <li><a href="/equipment/guide">가이드 / 매뉴얼</a></li>
                </ul>
            </li>

            <li class="menu-item">
                <a href="/rental">대여 신청</a>
            </li>

            <li class="menu-item">
                <span class="menu-toggle">
                    게시판
                    <svg class="arrow" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M6 9L12 15L18 9" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </span>
                <ul class="submenu">
                    <li><a href="/board/notice">공지사항</a></li>
                    <li><a href="/board/freeboard">자유게시판</a></li>
                    <li><a href="/board/qna">Q&A</a></li>
                </ul>
            </li>

            <li class="menu-item">
                <span class="menu-toggle">
                    마이페이지
                    <svg class="arrow" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M6 9L12 15L18 9" fill="none" stroke="currentColor"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </span>
                <ul class="submenu">
                    <li><a href="/mypage/rental">내 대여 내역</a></li>
                    <li><a href="/mypage/warning">경고 내역</a></li>
                    <li><a href="/mypage/profile">내 정보</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</aside>