{% include "includes/header.html" %}
<main>

    <section class="welcome-section">

        <h2 id="welcome-message"></h2>
        <p>
            오늘도 좋은 하루 되세요.
        </p>
    </section>
    <section class="quick-menu">
        <div class="menu-card">
            대여 신청하기
        </div>
        <div class="menu-card">
            기자재 보기
        </div>
        <div class="menu-card">
            내 대여내역^^^^
        </div>
    </section>
    <section class="dashboard-grid">
        <!-- 중앙 대시보드 영역 -->

    </section>
</main>
{% include "includes/footer.html" %}