{% include "includes/header.html" %}

<main class="login-page">

    <div class="login-box">

        <h2>로그인</h2>
        {% if errorMessage %}
        <p class="error-message">{{ errorMessage }}</p>
        {% endif %}
        <form action="/auth/login" method="post">

            <input type="text" name="P_userId" placeholder="아이디" required>

            <input type="password" name="P_password" placeholder="비밀번호" required>

            <button type="submit">
                로그인
            </button>

        </form>

    </div>

</main>

{% include "includes/footer.html" %}